<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="NFC switch">
        <provider android:name="io.github.libxposed.service.XposedProvider"
            android:exported="true"
            android:authorities="com.xiaolongxia.nfcswitch.XposedService" />
    </application>
</manifest>
